# Virtual environment
venv3/

# Datasets and models
Dataset/
raw_data/
Models/*.pkl
*.pt
*.zip

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebooks
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db